@charset "UTF-8";/*variables tipografias BODY*//*variables tipografias TITULARES*//*texto general-cuerpo de texto*/body {
  font-family: "Crimson Text", serif;
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}/*cuerpo de texto blanco*/.font-body-light {
  font-family: "Crimson Text", serif;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.font-captation-light {
  font-family: "Crimson Text", serif;
  color: white;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
}/*clases para titulos cabecera en blanco*/.font-title-hero-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 90px;
  line-height: 1.5;
  color: white;
  font-weight: 600;
  letter-spacing: 10px;
}/*clases para titulos cabecera en verde*/.font-title-hero-primary {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 90px;
  line-height: 1.5;
  color: #6fb52b;
  font-weight: 600;
  letter-spacing: 10px;
}/*clases para titulos de secciones internas: testimonios etc*/.font-title-section-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 150px;
  line-height: 1.5;
  color: white;
  font-weight: 800;
  letter-spacing: 10px;
  text-align: center;
}

.font-nav-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  font-weight: 400;
  letter-spacing: 10px;
}

.font-title-section-dark {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  line-height: 1.5;
  color: #444;
  font-weight: 400;
  text-align: justify;
}

.font-nav-dark {
  font-family: "Crimson Text", serif;
  font-size: 12px;
  line-height: 1.5;
  color: #444;
  font-weight: 400;
}/*clases tamaño (para usar si queremos aumentar el tamaño de algún estilo no definido)*/.medium {
  font-size: 25px;
}

.big {
  font-size: 35px;
}

.bigger {
  font-size: 45px;
}/*clases para alinear el texto*/.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}/*clases para cursivas*/.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}/*clase para mayusuculas*/.uppercase {
  text-transform: uppercase;
}

.panel {
  border: 3px solid #6fb52b;
  background-color: white;
  color: #444;
  padding: 0px;
  display: inline-block;
}

.panel-title {
  margin: 0;
  -ms-flex-line-pack: center;
  align-content: center;
}

.x-verde {
  width: 60px;
  height: 60px;
}

.dotted {
  border: 1px dotted #444;
  margin: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.panel-heading {
  margin: 20px;
  -ms-flex-line-pack: center;
  align-content: center;
}

.container-fluid {
  line-height: 0.5;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.stories {
  padding: 2rem;
  line-height: 1.4;
}

.padding-section {
  padding: 15px;
}

body {
  background-color: #444;
}

@media all and (min-width: 768px) {
  .font-title-section-dark {
    font-size: 30px;
  }

  .font-nav-dark {
    font-size: 16px;
  }
}

@media all and (min-width: 1024px) {
  .font-title-section-dark {
    font-size: 50px;
  }

  .font-nav-dark {
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
