@charset "UTF-8";/*variables tipografias BODY*//*variables tipografias TITULARES*/.header {
  height: 100px;
  width: 100%;
  background-color: #444;
}

nav {
  background-color: #444;
  width: 100%;
  height: 50px;
  padding: 5px 10px;
}

.logo {
  width: 40%;
}

.hamburguer {
  width: 28px;
  height: 30px;
  margin: 30px auto 30px;
  margin-right: 15px;
}

.hamburguer span:after,.hamburguer span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.hamburguer span:after {
  top: 9px;
}

.hamburguer span {
  position: relative;
  display: block;
}

.hamburguer span,.hamburguer span:after,.hamburguer span:before {
  width: 100%;
  height: 5px;
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}/* on activation */.hamburguer.on span {
  background-color: transparent;
}

.hamburguer.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburguer.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
  transform: rotate(-45deg) translate(7px, -8px);
}

.hamburguer.on + #menu {
  opacity: 1;
  visibility: visible;
}/*texto general-cuerpo de texto*/body {
  font-family: "Crimson Text", serif;
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}/*cuerpo de texto blanco*/.font-body-light {
  font-family: "Crimson Text", serif;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.font-captation-light {
  font-family: "Crimson Text", serif;
  color: white;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
}/*clases para titulos cabecera en blanco*/.font-title-hero-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 90px;
  line-height: 1.5;
  color: white;
  font-weight: 600;
  letter-spacing: 10px;
}/*clases para titulos cabecera en verde*/.font-title-hero-primary {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 90px;
  line-height: 1.5;
  color: #6fb52b;
  font-weight: 600;
  letter-spacing: 10px;
}/*clases para titulos de secciones internas: testimonios etc*/.font-title-section-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 150px;
  line-height: 1.5;
  color: white;
  font-weight: 800;
  letter-spacing: 10px;
  text-align: center;
}

.font-nav-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  font-weight: 400;
  letter-spacing: 10px;
}/*clases tamaño (para usar si queremos aumentar el tamaño de algún estilo no definido)*/.medium {
  font-size: 25px;
}

.big {
  font-size: 35px;
}

.bigger {
  font-size: 45px;
}/*clases para alinear el texto*/.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}/*clases para cursivas*/.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}/*clase para mayusuculas*/.uppercase {
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
