@charset "UTF-8";/*variables tipografias BODY*//*variables tipografias TITULARES*//*margenes buttones*//*añadidos en rama buttons-components*//*añadido en buttons-components*/.buttons {
  margin-top: 10%;
  margin-left: 9%;
  margin-right: 5%;
  border: 2px solid #6fb52b;
  background: none;
  cursor: pointer;
}

hr {
  border: #6fb52b;
  border-style: inset;
  border-width: 1px;
}

.buttons-next-section-container {
  background: #6fb52b;
  height: 100px;
  margin-left: 5%;
  margin-right: 6%;
  margin-top: 10%;
}

.buttons-next-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 20%;
  cursor: pointer;
}

.void {
  background: none;
}/*texto general-cuerpo de texto*/body {
  font-family: "Crimson Text", serif;
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}/*cuerpo de texto blanco*/.font-body-light {
  font-family: "Crimson Text", serif;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.font-captation-light {
  font-family: "Crimson Text", serif;
  color: white;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
}/*clases para titulos cabecera en blanco*/.font-title-hero-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 90px;
  line-height: 1.5;
  color: white;
  font-weight: 600;
  letter-spacing: 10px;
}/*clases para titulos cabecera en verde*/.font-title-hero-primary {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 90px;
  line-height: 1.5;
  color: #6fb52b;
  font-weight: 600;
  letter-spacing: 10px;
}/*clases para titulos de secciones internas: testimonios etc*/.font-title-section-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 150px;
  line-height: 1.5;
  color: white;
  font-weight: 800;
  letter-spacing: 10px;
  text-align: center;
}

.font-nav-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  font-weight: 400;
  letter-spacing: 10px;
}

.button-type-title {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 90px;
  color: white;
}

.button-type-smaller-text {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 50px;
  color: white;
}/*clases tamaño (para usar si queremos aumentar el tamaño de algún estilo no definido)*/.medium {
  font-size: 25px;
}

.big {
  font-size: 35px;
}

.bigger {
  font-size: 45px;
}/*clases para alinear el texto*/.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}/*clases para cursivas*/.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}/*clase para mayusuculas*/.uppercase {
  text-transform: uppercase;
}

body {
  background-color: #444;
}

@media (max-width: 500px) {
  .button-type-title {
    margin-left: -12%;
    font-size: 25px;
  }

  .button-type-smaller-text {
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
