$color-primary: #6fb52b;
$color-light: white;
$color-dark: black;
$color-midTone-dark: #444;
$color-midTone-light: #999;


/*variables tipografias BODY*/
$body-font-family: 'Crimson Text', serif;

$body-font-size-xs: 12px;
$body-font-size-s: 16px;
$body-font-size-m: 18px;
$body-font-size-l: 20px;
$body-font-size-xl: 30px;

$body-line-height: 1.5;

$body-font-color-dark: $color-midTone-dark;
$body-font-color-light: $color-light;

$body-font-weight-normal: 400;
$body-font-weight-bold: 600;

/*variables tipografias TITULARES*/
$title-font-family: 'Barlow Semi Condensed', sans-serif;

$title-font-size-xs: 12px;
$title-font-size-s: 16px;
$title-font-size-sm: 18px; //añadido en master-con-4buttons
$title-font-size-m: 20px;
$title-font-size-ml: 22px; //añadido en master-con-4buttons
$title-font-size-m-l: 25px; //añadido en buttons-components
$title-font-size-mdl: 30px; //añadido en buttons-components
$title-font-size-md: 35px;
$title-font-size-l: 50px;
$title-font-size-xl: 90px;
$title-font-size-counter: 130px;
$title-font-size-xxl: 150px;


$title-line-height: 1.5;
$title-line-height-s: 1;
$title-line-height-xs: 0.7;

$title-font-color-primary: $color-primary;
$title-font-color-dark: $color-midTone-dark;
$title-font-color-light: $color-light;

$title-font-weight-normal: 400;
$title-font-weight-bold: 600;
$title-font-weight-bolder: 800;

$title-font-letter-spacing: 5px;


/*margenes buttones*/ /*añadidos en rama buttons-components*/
$paddingTopRowButtons: 15px;
$paddingLeftRowButtons: 40px;
$paddingRightRowButtons: 40px;
$paddingBottomRowButtons: 15px;
$paddingBottomRowButtonsNextSection: 10px;
$buttonNextSectionHeight: 120px;
