.header {
  height: 80px;
  width: 100%;
  background-color: $color-midTone-dark;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 24px;
}


.logo {
  width: 150%;
}
