.header {
  height: 80px;
  width: 100%;
  background-color: $color-midTone-dark;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 24px;
}

.margin-negative {
  margin-top: -15px;
}

.margin-right-negative {
  margin-right: -30px;
}

.position-fixed {
  position: fixed;
  top: 0;
}

.logo {
  width: 150%;
}

.nav-link {
  text-align: center;
  font-family: $title-font-family;
  font-size: $body-font-size-s;
  line-height: $title-line-height;
  color: $color-light;
  font-weight: $title-font-weight-normal;
  background-color: $color-midTone-dark;
  border-bottom: 3px solid $color-primary;
}

.list-group-item:first-child {
  border-radius: 0px;
}

.hidden {
  display:none;
}
