.hamburguer-button {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  position: relative;
  top:0;
  @media all and (min-width:768px) {
    display:none;
  }
}

.burguer-line {
  display:block;
  position:absolute;
  background-color: $color-light;
  width: 100%;
  height: 5px;
  padding-left: 1px;
  border-radius: 3px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.50s ease-in-out;
  left: 0;
  padding: 0;
}

.burguer-line:nth-child(1) {
  top: 0;
}

.burguer-line:nth-child(2) {
  top: 45%;
}

.burguer-line:nth-child(3) {
  bottom: 0;
}


.close-button .burguer-line {
  transform: rotate(280deg);
}

.close-button .burguer-line:nth-child(1) {
  top:45%;
  left:-40%;
  transform: rotate(270deg);
}

.close-button .burguer-line:nth-child(2) {
  left: 0;
  transform: rotate(270deg);
}

.close-button .burguer-line:nth-child(3) {
  top: 45%;
  left: 40%;
  transform: rotate(270deg);
  }
