.hamburguer {
  width: 30px;
  height: 30px;
  border: 1px solid red;
  margin-right: 15px;
  position: relative;
}

span {
  display:block;
  position:absolute;
  background-color: $color-light;
  width: 100%;
  height: 5px;
  opacity: 1;
  padding-left: 1px;
  border-radius: 3px;
}

span:nth-child(1) {
  top: 0;
}

span:nth-child(2) {
  top: 45%;
}

span:nth-child(3) {
  bottom: 0;
}

// display: block;
// position: absolute;
// height: 16.5%;
// width: 100%;
// background: $primary-color;
// border-radius: 16.5%;
// opacity: 1;
// left: 0;
// transform: rotate(0deg);
// transition: 0.25s ease-in-out;
