.hamburguer-button {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  position: relative;
  top:0;
  @media all and (min-width:768px) {
    display:none;
  }
}

.burguer-down {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  position: relative;
  top: -200%;
  transition: top ease-in-out 1s;
}


.animation-burguer {
  position: relative;
  top: 0;
  background-color: $color-midTone-dark;
}

p {
  text-align: center;
  font-family: $title-font-family;
  font-size: $title-font-size-m;
  line-height: $title-line-height;
  color: $color-light;
  font-weight: $title-font-weight-bolder;
  margin-right: 15px;
}


span {
  display:block;
  position:absolute;
  background-color: $color-light;
  width: 100%;
  height: 5px;
  padding-left: 1px;
  border-radius: 3px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.50s ease-in-out;
  left: 0;
  padding: 0;
}

span:nth-child(1) {
  top: 0;
}

span:nth-child(2) {
  top: 45%;
}

span:nth-child(3) {
  bottom: 0;
}

.burguer-down span {
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.close,.burguer-down span {
  opacity: 1;
}

.close-button span {
  transform: rotate(280deg);
}

.close-button span:nth-child(1) {
  top:45%;
  left:-40%;
  transform: rotate(270deg);
}

.close-button span:nth-child(2) {
  left: 0;
  transform: rotate(270deg);
}

.close-button span:nth-child(3) {
  top: 45%;
  left: 40%;
  transform: rotate(270deg);
}

//Para la X

// .close span:nth-child(1) {
//   top: 45%;
//   transform: rotate(135deg);
// }
//
// .close span:nth-child(2) {
//   opacity: 0;
// }
//
// .close span:nth-child(3) {
//   bottom: 33%;
//   transform: rotate(-135deg);
// }
