.buttons{
  margin-top: $marginTopButtons;
  margin-left: $marginLeftButtons;
  margin-right: $marginRightButtons;
  border: 2px solid $color-primary;
  background: none;
  cursor: pointer;
}

hr{
  @include buttonsLine();
}

.buttons-next-section-container{
  background: $color-primary;
  height: $buttonNextSectionHeight;
  margin-left: $marginLeftButtonsNextSection;
  margin-right: $marginRightButtonsNextSection;
  margin-top: $marginTopButtonsNextSection;
}

.buttons-next-section{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20%;
  cursor: pointer;
}

.void{
  background: none;
}
