.panel {
border: 3px solid $color-primary;
background-color: $color-light;
color:$color-midTone-dark;
padding: 0px;
display: inline-block;
}
.panel-title{
margin: 0;
align-content: center;

}
.x-verde {
width:60px;
height: 60px;

@media all and (min-width:1024px){
  width:100px;
  height: 100px;
}
}

.dotted{
border: 1px dotted $color-midTone-dark;
margin:0;
width: 100%;
padding: 0;
}
.hidden {
display: none;
}
.panel-heading{
align-content: center;
}
.container-fluid {
line-height: 0.5;
padding-right: 15px;
padding-left: 15px;
padding-top: 15px;
margin-right: auto;
margin-left: auto;
margin-bottom: 25px;
}
.stories {
    line-height: 1.4;
}

.padding-section {
padding: 15px;
}

.flecha-abajo {
padding: 0px;
margin: 0px;
width:25px;
height:25px;
@media all and (min-width: 768px){
  width:35px;
  height:35px;
}
@media all and (min-width: 1024px){
  width:45px;
  height:45px;
}
}
