


.frase-adivina{
  margin-left: 8%;
  margin-top: 30%;
}

.cuadro-slides{
  border: 2px solid $color-primary;
  margin-left: 8%;
  text-transform: uppercase;
  @media (max-width: 500px){
  font-size: $body-font-size-xl;
  }
}

.color-primary{
  color:  $color-primary;
}
