.panel {
border: 3px solid $color-primary;
background-color: $color-light;
color:$color-midTone-dark;
padding: 0px;
display: inline-block;
}
.panel-title{
margin: 0;
align-content: center;

}
.x-verde {
width:100%;
}

.dotted{
border: 1px dotted $color-midTone-dark;
margin:0;
width: 100%;
margin:0;
padding: 0;
}
.hidden {
display: none;
}
.panel-heading{
margin: 20px;
align-content: center;
}
.container-fluid {
line-height: 0.5;
}
.stories {
  padding: 2rem;
  line-height: 1.4;
}
